$colorBackground: #1D2B53;
$colorPrimary: #7E2553;
$colorHighlight: #FF004D;
$colorAccent: #FAEF5D;

body, html {
  margin: 0;
  padding: 0;
  background-color: $colorBackground;
  color: $colorAccent;

  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  margin-left: 0.25em;
  font-size: 32pt;
}

.target-picker {
  display: flex;

  .dropdown {
    margin-right: 0.75em;
  }

  .button {
    user-select: none;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 26pt;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      color: gray;
    }
  }

  margin: 2em;
}

.dropdown {
  $inputHeight: 2em;
  $inputWidth: 10em;
  $fontSize: 22pt;

  display: flex;
  font-size: $fontSize;

  .input {
    display: flex;
    $clearWidth: 0.8em;
    width: $inputWidth;

    &, input {
      padding: 0;
      margin: 0;
      height: $inputHeight;
      font-size: $fontSize;
      background: none;
      border: none;

      &:focus {
        outline: none;
      }
    }

    input {
      width: $inputWidth - $clearWidth;
    }

    .clear {
      cursor: pointer;
      width: $clearWidth;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &:not(.error).no-pick .input input {
    color: grayscale($colorPrimary);
  }

  &:not(.error).has-pick .input input {
    color: $colorAccent;
  }

  &.error .input input {
    color: $colorHighlight;
  }

  $borderHeight: 0.1em;

  border-bottom: $borderHeight solid $colorPrimary;
  &.active {
    border-bottom: $borderHeight solid $colorAccent;
  }

  &.disabled {
    cursor: not-allowed;
    border-bottom: $borderHeight solid desaturate(grayscale($colorAccent), 50%);
    color: desaturate(grayscale($colorAccent), 50%);
  }

  .autocomplete {
    position: absolute;
    margin-top: $inputHeight + $borderHeight;
    width: $inputWidth;

    .entry {
      background-color: $colorPrimary;
      cursor: pointer;
      padding: 0.25em;

      &:hover {
        background-color: $colorHighlight;
      }
    }

    &.hide {
      display: none;
    }
  }
}

.solver {
  margin: 1.5em;

  .status {
    font-size: 20pt;
    color: desaturate($colorAccent, 45%);
  }

  .tip {
    font-size: 14pt;
    color: desaturate($colorAccent, 90%);
    margin-bottom: 2em;
  }

  .board {
    $cellSize: 3.2em;
    .row {
      display: flex;
      &:last-child {
        .cell {
          border-bottom: 1px solid black;
        }
      }

      .cell {
        text-align: center;
        user-select: none;

        .lbl {
          user-select: none;
          pointer-events: none;
        }
        border-left: 1px solid black;
        border-top: 1px solid black;
        &:last-child {
          border-right: 1px solid black;
        }

        &.focus-light .contents.covering {
          background-color: $colorHighlight;
        }

        &.focus-dim .contents.covering {
          background-color: gray;
        }

        &, .contents {
          width: $cellSize;
          height: $cellSize;
        }

        &:not(.focus-dim):not(.focus-light) .contents.covering {
          $transparent: 0.4;

          &.piece-0 { background-color: transparentize(red, $transparent); }
          &.piece-1 { background-color: transparentize(green, $transparent); }
          &.piece-2 { background-color: transparentize(blue, $transparent); }
          &.piece-3 { background-color: transparentize(purple, $transparent); }
          &.piece-4 { background-color: transparentize(white, $transparent); }
          &.piece-5 { background-color: transparentize(orange, $transparent); }
          &.piece-6 { background-color: transparentize(yellow, $transparent); }
          &.piece-7 { background-color: transparentize(magenta, $transparent); }
          &.piece-8 { background-color: transparentize(bisque, $transparent); }
        }

        .contents {
          position: absolute;
          pointer-events: none;
          user-select: none;
          &.covering {
            background-color: transparentize($colorHighlight, .4);
          }

          &.winning-space {
            background-color: transparentize(green, .4);
          }
        }

        .lbl {
          margin-top: auto;
          margin-bottom: auto;
          padding: 0.3em;
          width: 100%;
        }
      }
    }
  }
}
