$colorBackground: #383127;
$colorPrimary: #70AB8F;
$colorHighlight: #DC5B21;
$colorAccent: #E4DBBF;

body, html {
  margin: 0;
  padding: 0;
  background-color: $colorBackground;
  color: $colorAccent;

  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  margin-bottom: 0.6em;
  margin-left: 0.25em;
  font-size: 32pt;
}

.subtext {
  margin-left: 0.81em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21pt;
}

.target-picker {
  display: flex;

  .dropdown {
    margin-right: 0.75em;
  }

  .button {
    user-select: none;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 26pt;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      color: gray;
    }
  }

  margin: 2em;
}

.dropdown {
  $inputHeight: 2em;
  $inputWidth: 10em;
  $fontSize: 22pt;

  display: flex;
  font-size: $fontSize;

  .input {
    display: flex;
    $clearWidth: 0.8em;
    width: $inputWidth;

    &, input {
      padding: 0;
      margin: 0;
      height: $inputHeight;
      font-size: $fontSize;
      background: none;
      border: none;

      &:focus {
        outline: none;
      }
    }

    input {
      width: $inputWidth - $clearWidth;
    }

    .clear {
      cursor: pointer;
      width: $clearWidth;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &:not(.error).no-pick .input input {
    color: grayscale($colorPrimary);
  }

  &:not(.error).has-pick .input input {
    color: $colorAccent;
  }

  &.error .input input {
    color: $colorHighlight;
  }

  $borderHeight: 0.1em;

  border-bottom: $borderHeight solid $colorPrimary;
  &.active {
    border-bottom: $borderHeight solid $colorAccent;
  }

  &.disabled {
    cursor: not-allowed;
    border-bottom: $borderHeight solid desaturate(grayscale($colorAccent), 50%);
    color: desaturate(grayscale($colorAccent), 50%);
  }

  .autocomplete {
    position: absolute;
    margin-top: $inputHeight + $borderHeight;
    width: $inputWidth;

    .entry {
      background-color: $colorPrimary;
      cursor: pointer;
      padding: 0.25em;

      &:hover {
        background-color: $colorHighlight;
      }
    }

    &.hide {
      display: none;
    }
  }
}

.solver {
  margin: 1.5em;

  .status {
    font-size: 20pt;
    color: desaturate($colorAccent, 45%);
  }

  .tip {
    font-size: 14pt;
    color: desaturate($colorAccent, 90%);
    margin-bottom: 2em;
  }

  .board {
    $cellSize: 5em;
    .row {
      display: flex;

      $borderSize: 3px;
      $borderColor: black;

      &:last-child {
        .cell {
          border-bottom: $borderSize solid $borderColor;
        }
      }

      .cell {
        text-align: center;
        user-select: none;
        background-color: #C19A6B;
        color: #3B270C;

        .lbl {
          user-select: none;
          pointer-events: none;
          font-size: 18pt;
        }

        border-left: $borderSize solid $borderColor;
        border-top: $borderSize solid $borderColor;
        &:last-child {
          border-right: $borderSize solid $borderColor;
        }

        &.focus-light .contents.covering {
          background-color: $colorHighlight;
        }

        &.focus-dim .contents.covering {
          background-color: #868074;
        }

        &, .contents {
          width: $cellSize;
          height: $cellSize;
        }

        $transparent: 0;

        &:not(.focus-dim):not(.focus-light) .contents.covering {

          //&.piece-0 { background-color: transparentize(#EFC3A4, $transparent); }
          //&.piece-1 { background-color: transparentize(#BE7656, $transparent); }
          //&.piece-2 { background-color: transparentize(#4B1F0E, $transparent); }
          //&.piece-3 { background-color: transparentize(#794028, $transparent); }
          //&.piece-4 { background-color: transparentize(#4C6444, $transparent); }
          //&.piece-5 { background-color: transparentize(#555050, $transparent); }
          //&.piece-6 { background-color: transparentize(#253529, $transparent); }
          //&.piece-7 { background-color: transparentize(#5B4E4B, $transparent); }
          //&.piece-8 { background-color: transparentize(#2A140E, $transparent); }

          &.piece-0 { background-color: transparentize(#517476, $transparent); }
          &.piece-1 { background-color: transparentize(#8e9880, $transparent); }
          &.piece-2 { background-color: transparentize(#c24c3e, $transparent); }
          &.piece-3 { background-color: transparentize(#bb6542, $transparent); }
          &.piece-4 { background-color: transparentize(#7a865e, $transparent); }
          &.piece-5 { background-color: transparentize(#a15869, $transparent); }
          &.piece-6 { background-color: transparentize(#48536f, $transparent); }
          &.piece-7 { background-color: transparentize(#bc8a8d, $transparent); }
          &.piece-8 { background-color: transparentize(#a9b59f, $transparent); }
        }

        .contents {
          position: absolute;
          pointer-events: none;
          user-select: none;
          //&.covering {
          //  background-color: transparentize($colorHighlight, .4);
          //}

          &.winning-space {
            //background-color: transparentize(beige, 0.4);
          }
        }

        .lbl {
          margin-top: auto;
          margin-bottom: auto;
          //padding: 0.3em;
          width: 100%;
        }
      }
    }
  }
}
